<!DOCTYPE html>
<html>
<head>
    <title>SmartShop AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<footer>

<p>

SmartShop AI © 2026

Built for AI Build Hackathon

</p>

</footer>
<body>

<header>
    <h1>🛒 SmartShop AI</h1>
    <p>AI Powered Product Recommendation System</p>
</header>

<div class="search-box">
    <input id="searchBox" type="text" placeholder="Search Products">
    <button onclick="searchProduct()">Search</button>
</div>
<h2>⭐ Recommended For You</h2>

<div class="products">

<div class="card">
<h3>Apple Watch</h3>
<p>Because you searched Electronics</p>
</div>

<div class="card">
<h3>Nike Running Shoes</h3>
<p>Popular among similar users</p>
</div>

<div class="card">
<h3>Laptop Backpack</h3>
<p>Frequently bought together</p>
</div>

</div>
<h2>👕 Complete the Look</h2>

<div class="products">

<div class="card">
<h3>Formal Shirt</h3>
<p>₹999</p>
</div>

<div class="card">
<h3>Blue Jeans</h3>
<p>₹1499</p>
</div>

<div class="card">
<h3>Leather Belt</h3>
<p>₹799</p>
</div>

</div>
<h2>🔥 Trending Products</h2>

<div class="products">

<div class="card">
<h3>Wireless Earbuds</h3>
<p>Best Seller</p>
</div>

<div class="card">
<h3>Samsung Smart Watch</h3>
<p>Trending Today</p>
</div>

<div class="card">
<h3>Sunglasses</h3>
<p>Top Rated</p>
</div>

</div>
<h2>Products</h2>

<div id="results" class="products">

{% for product in products %}

<div class="card">

<h3>{{ product.name }}</h3>

<p>{{ product.category }}</p>

<p>₹ {{ product.price }}</p>

<button>View Product</button>

</div>

{% endfor %}

</div>

<script>

async function searchProduct(){

const query=document.getElementById("searchBox").value;

const response=await fetch("/search?q="+query);

const data=await response.json();

let html="";

data.forEach(product=>{

html+=`
<div class="card">
<h3>${product.name}</h3>
<p>${product.category}</p>
<p>₹ ${product.price}</p>
<button>View Product</button>
</div>
`;

});

document.getElementById("results").innerHTML=html;

}

</script>

</body>
</html>