<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartShop AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛒 SmartShop AI</h1>

    <p style="text-align:center;font-size:20px;">
        AI Powered Product Recommendation System
    </p>

    <div style="text-align:center;margin:30px;">

        <input id="searchBox" type="text" placeholder="Search Products">

        <button onclick="searchProduct()">Search</button>

    </div>

    <h2>Search Results</h2>

    <div id="results">

        {% for product in products %}

        <div class="card">
            <h3>{{ product.name }}</h3>
            <p>{{ product.category }}</p>
            <p>₹ {{ product.price }}</p>
        </div>

        {% endfor %}

    </div>

</div>

<script>

async function searchProduct() {

    const query = document.getElementById("searchBox").value;

    const response = await fetch("/search?q=" + encodeURIComponent(query));

    const data = await response.json();

    let html = "";

    if (data.length === 0) {

        html = "<h3>No products found.</h3>";

    } else {

        data.forEach(product => {

            html += `
            <div class="card">
                <h3>${product.name}</h3>
                <p>${product.category}</p>
                <p>₹${product.price}</p>
            </div>
            `;

        });

    }

    document.getElementById("results").innerHTML = html;

}

</script>

</body>
</html>